#about {
    padding: 85px 40px 85px 40px;
}

.about__title {
    font-family: 'Vollkorn', serif;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 38px;
    padding-left: 15px;
    padding-right: 15px;
}

.about {
    padding: 60px 70px 60px 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about img {
    width: 50%;
    height: max-content;
}

.about__text {
    padding: 60px 70px 60px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.about__text h3 {
    font-family: 'Vollkorn', serif;
    font-size: 28px;
    font-weight: 400;
    color: var(--title-color);
}

.about__text p {
    margin-top: 20px;
    font-weight: 400;
    line-height: 25.92px;
    color: var(--text-color);
}

.about__text a {
    margin-top: 33.6px;
    font-size: 16px;
    font-weight: 400;
    color: var(--title-color);
}