/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&family=Vollkorn:wght@400;500;700&display=swap');
/* fonts */

/*CSS Reset*/
html, body, header, main, nav, section, div,article, footer, h1, h2, h3, p, a, ul, li, img,span  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}
/*CSS Reset*/

:root {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    --text-color: rgb(120, 120, 120);
    --title-color: rgb(51, 51, 51);
    --button-text-color: rgb(255, 255, 255);
    --additional-color: rgb(129, 176, 63);
}

body {
    margin: 0 auto;
    max-width: 1600px;
}

h1 {
    color: var(--button-text-color);
}

img {
    display: block;
    width: 100%;
}